

.section1{
    height: 95vh;
    background-color: grey;
    background-image: url("../assets/backgrounds/h_img.jpg");
    
}

.central{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.section1 img{
    align-items: center;
}
.container{
    height: 50vh;
}

.container h4{
    text-align: center;
    margin: 20px;
    margin-left: 10px;
    color: white;
}

.section3{
    height: 60vh;
    background-image: url("../assets/backgrounds/s_image.jpg");
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    
}

.section3 h1{
    text-align: center;
}



.section4{
   height: 50vh;
}


.section4 h4{
    text-align: center;
 }


#contact{
    height: 90vh;
    background-image: url("../assets/backgrounds/c_image.jpg");
}

#contact h1{
    text-align: center;
    color: white;
}

.btn-warning{
    background-color: #d2B348 !important;
    columns: white !important;
}

.btn-warning:hover{
    background-color: vd2B346 !important;
    color: black !important;
}


.mouse{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.welcome{
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
}