*{
    margin: 0px;
}

.section1{
    height: 95vh;
    background-color: grey;
    background-image: url("/assets/backgrounds/h_img.jpg");
}

.section1 img{
    align-items: center;
}















.container{
    height: 50vh;
}

.container h1{
    text-align: center;
    margin: 20px;
    margin-left: 10px;
}

.section3{
    height: 60vh;
    background-image: url("/assets/backgrounds/s_image.jpg");
}

.section3 h1{
    text-align: center;
}



.section4{
   height: 50vh;
}


.section4 h1{
    text-align: center;
 }


 .section5{
    height: 95vh;
 
 }






